{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">invoice</h1>
                    <p class="lead fw-normal text-white-50 mb-0">...</p>
                </div>
            </div>
        </header>
        <br>
        
        <div class="container">
            
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    

<br/><br/><br/><br/><br/>


  <br/>&nbsp;<br/><br/>&nbsp;<br/><br/>&nbsp;<br/><br/>&nbsp;<br/>

  <br/>

  <br/>
                </div>
            </div>



        </div>

          
           

{% endblock %}  
