{% extends 'base.html' %}
{% load humanize %}
{% block content %}


<br><br>
<div class="container">

    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <!--<img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">-->
            <img id="mainProductImage" class="card-img-top mb-3" src="{{ product.picture.url }}" alt="Main image" />

            
            <!-- Additional images toolbar -->
            <div class="container mt-3">
              <div class="row flex-row flex-nowrap overflow-auto">
                  {% for image in product.images.all %}
                      <div class="col-auto">
                          <img class="img-thumbnail" src="{{ image.image.url }}" alt="Additional image" style="width: 100px; height: 100px; object-fit: cover; cursor: pointer;" onclick="changeImage('{{ image.image.url }}')" />
                      </div>
                  {% endfor %}
              </div>
          </div>

          </div>
          
        </div>
        
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              {% if product.is_sale %}
              <p class="card-text">Price:<strike> {{ product.price | intcomma }} $ </strike> <br>Sale price: {{ product.sale_price | intcomma }} $</p>
              
              {% else %}
              <p class="card-text"> Price:{{ product.price | intcomma }} $ </p>

              {% endif %}

                <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
                 <select class="form-select form-select-sm" id="cart-qty">
                
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                </select>
                  </div>
              <br><br>
              <button class='btn btn-secondary' type='button' value='{{ product.id }}' id='add-cart'>Add to the cart</button>
              <a href="{% url 'home' %}" class='btn btn-secondary' >Back to main page</a>

            </div>
          </div>
        </div>
      </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<script>
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url:  '{% url "cart_add" %}',
        data:{
    product_id: $('#add-cart').val(),
    product_qty: $('#cart-qty option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action:'post'
       },
       success: function(json){
        //console.log(json)
       document.getElementById('cart_quantity').textContent = json.qty
       location.reload();
       },

       error: function(xhr, errmsg, err){
       }
    });
})
</script>
<!-- JavaScript to change the main image -->
<script type="text/javascript">
  function changeImage(newSrc) {
      document.getElementById("mainProductImage").src = newSrc;
  }
</script>

{% endblock %}